footer {
  text-align: center;
  line-height: 15pt;
}

ul {
  list-style: none;
}

li {
  font-weight: bold;
  color: rgb(92, 88, 88);
}

section.fourth-row {
  text-align: center;
}

h1.searchedCity {
  color: #0278ae;
  font-size: 40pt;
  font-weight: bold;
  line-height: 30pt;
  padding: 0px 0px 18px 0px;
  text-align: center;
}

h2.currently {
  font-size: 18pt;
  color: rgb(92, 88, 88);
  font-weight: bold;
  line-height: 30pt;
  padding-top: 10px;
  text-align: center;
}

i.fa-clock {
  color: #5c5858;
}

i.fa-cloud-sun {
  color: rgb(139, 137, 137);
  font-size: 50pt;
  text-align: center;
  line-height: 70pt;
}

i.fa-sun {
  color: rgb(139, 137, 137);
  font-size: 50pt;
  text-align: center;
  line-height: 70pt;
}

i.fa-bolt {
  color: rgb(139, 137, 137);
  font-size: 50pt;
  text-align: center;
  line-height: 70pt;
}

i.fa-cloud-rain {
  color: rgb(139, 137, 137);
  font-size: 50pt;
  text-align: center;
  line-height: 70pt;
}

i.fa-search {
  color: white;
  font-size: 12pt;
}

i.fa-thermometer-quarter {
  font-size: 90px;
  color: blue;
  font-size: 40pt;
  position: relative;
  padding: 30px;
}

ul.main-list {
  text-align: left;
}

img.duryeasun {
  width: 200px;
  margin-left: -35px;
}

.today {
  font-size: 20pt;
  color: #0278ae;
  font-weight: bold;
}

.time {
  font-size: 14pt;
  color: rgb(92, 88, 88);
  line-height: -20pt;
}

.weather-app {
  background-color: #d9ecf2;
  border: 1px solid #0278ae;
  border-radius: 10px;
  color: #2d2e30;
  font-family: "Montserrat", sans-serif;
  margin: 25px auto;
  max-width: 600px;
  padding: 25px;
}

.col-4 {
  color: rgb(92, 88, 88);
  font-weight: bold;
  text-align: center;
}

.col-2 {
  color: #0278ae;
  font-weight: bold;
  text-align: center;
  margin: 0px 9.5px 0px 9.5px;
}

.sun {
  position: relative;
  margin: -10px 10px -65px -50px;
}
.temperature {
  color: #0278ae;
  font-size: 30pt;
  font-weight: bold;
  line-height: 50pt;
}

.mostly {
  text-align: left;
  color: #0278ae;
  font-size: 30pt;
  font-weight: bold;
  line-height: 30pt;
  position: relative;
  margin-left: 0px;
}

.units {
  position: relative;
  top: -15px;
  font-weight: normal;
}
